#!/usr/bin/make -f
%:
	dh $@

ifeq (,$(findstring nolauncher,$(DEB_BUILD_OPTIONS)))
ENABLE_LAUNCHER += --enable-maemo-launcher
endif

CONFFLAGS += $(ENABLE_LAUNCHER)

override_dh_auto_configure:
	dh_auto_configure -- $(CONFFLAGS)

override_dh_install:
	dh_install
	dh_maemolauncher
	dh_installxsession -u 'post 18'
	dh_installxsession -u 'pre 65' --init-script='hildon-sv-notification-daemon'
	dh_maemolauncher

binary-predeb/hildon-home::
	# set the Setuid bit for hildon-notification-daemon
	chmod 4755 $(CURDIR)/debian/hildon-home/usr/bin/hildon-sv-notification-daemon
